/*landing-page*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}

#landing-page{
    background-color: #a6f6f1;
}
.nav-icon{
    padding: 2.5rem;
}
.nav-bar{
    padding: 1rem 3rem;
}

@media (max-width:1028px){
    .title-page{
        text-align: center;
    }
    .title-image{
        text-align: center;
    }
}
/*title-page*/
.header-text{
    font-family:'Montserrat Alternates', sans-serif;
    font-size: 4rem;
    margin-bottom: 1rem;
    padding-top: 2rem;
}

.paragraph{
    font-family: 'Cairo', sans-serif;
    font-size: 2rem;
    margin-bottom: 3rem;
}
.btn-header{
    padding: 0.3rem 4rem;
}

.title-page{
    padding: 100px;    
}
.title-image{
    width: 40rem;
    margin: 0 4rem ;
    
}
/*log-in*/

#log-in-form{
    background-color:#e8ffff;
    padding: 100px;
}

.log-header{
    margin-top: 4rem;

}

.header-log-in{
    font-family:'Montserrat Alternates', sans-serif; 
    font-size: 5rem;
    
}

.paragraph-log-in{
    font-family:'Cairo', sans-serif; 
    font-size: 2rem;
    margin-top: 2rem;
}
.text-form{
    width: 100%;
    background-color: #e8ffff;
    padding: 10px;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    

}

.checkbox{
    background-color: #e8ffff;
    width: 1rem;
}

.submit-button{
    width: 100%;
    border-radius: 0.5rem;
    margin-top: 1rem;
    background-color: black;
    color: white;
    padding: 7px;
    
}

/*pairings*/
#pairings{
    background-color: #a6f6f1;
    padding: 100px;
    text-align: center;
}

.pairing-header{
    font-family:'Montserrat Alternates', sans-serif;  
    font-size: 3rem;

}

.paragraph-pairing{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.pairing-img{
    width: 10rem;
    border-radius: 100%;
    padding: 1rem 1rem;
}

/*nooker*/
#Nookers{
    padding: 100px;
    background-color: #e8ffff;
}
.nooker-header{
    font-family:'Montserrat Alternates', sans-serif; 
    font-size: 3rem;
}

.paragraph-nooker{
    font-size: 2rem;
}

.img-nooker{
    width: 60%;
    border-radius: 1rem;
}
.form-nooker{
    margin: 5rem;

}
.text-nooker-username{
    width: 100%;
    padding: 0.5rem;
    background-color: #e8ffff;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.text-nooker{
    width: 100%;
    height: 8rem;
    background-color: #e8ffff;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/*footer*/
#footer{
    background-color: aqua;
    text-align: center;
    padding: 100px;
}

.social-icon{
    margin: 0.5rem 0.5rem;
}

